.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.todo-item-input {
  margin-right: 12px;  
  cursor: default;
}

.completed label {
  text-decoration: line-through;
}

.completed input {
  cursor: default;
}

